<div style="display: flex; flex-direction: row">
  <div style="width: 50%">
    <h3>Wähle einen Patienten für die Aufnahme:</h3>
    <mat-form-field >
      <mat-label>Patient</mat-label>
      <mat-select [(value)]="selectedPatientID">
        @for (patient of patients; track patient) {
          <mat-option [value]="patient.patientenID">{{patient.name}}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <h3>Wähle die Abteilung:</h3>
    <mat-form-field>
      <mat-label>Patient</mat-label>
      <mat-select [(value)]="selectedDepartmentID">
        @for (department of departments; track department) {
          <mat-option [value]="department.abteilungsID">{{department.abteilungsID}}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  </div>

  <div style="width: 50%;">
    <h2 class="title">Bett</h2>
    <div *ngIf="!bedFound" style="display: flex; flex-direction: column; margin: 24px 0">
      <h3 style="margin: 0">Anforderungen:</h3>
      <mat-checkbox class="checkbox">Beatmungsgerät</mat-checkbox>
      <mat-checkbox>IV Drip</mat-checkbox>
      <mat-checkbox>Herzmonitor</mat-checkbox>
      <mat-checkbox>Extragross</mat-checkbox>

      <button class="button" style="margin-top: 24px" (click)="findFreeBed()">Freies Bett finden</button>
    </div>
  </div>

</div>

<button *ngIf="bedFound" class="button">Patient aufnehmen</button>
