<div class="patient-information">
  <mat-card class="card" style="width: 60%">
    <div>
      <h1 class="patient-details-title">{{ patient.name }}</h1>
      <app-icon-text style="background-color: #eaffcc" [title]="'Adresse:'" [text]="patient.adresse"/>
      <app-icon-text [title]="'Kontakttelefon:'" [text]="patient.kontakttelefon"/>
      <app-icon-text [title]="'Geburtsdatum:'" [text]="patient.geburtsdatum"/>
      <app-icon-text [title]="'Geschlecht:'" [text]="patient.geschlecht"/>
      <app-icon-text [title]="'Blutgruppe:'" [text]="patient.blutgruppe"/>
      <app-icon-text [title]="'Gewicht:'" [text]="String(patient.gewicht) + ' kg'"/>
      <app-icon-text [title]="'Krankenversicherungsnummer:'" [text]="patient.krankenversicherungsnummer"/>
      <app-icon-text [title]="'Krankenkassenstatus:'" [text]="patient.krankenkassenstatus"/>
      <app-icon-text [title]="'Verstorben:'" [text]="'Patient verstorben'" *ngIf="patient.verstorben"/>
    </div>
  </mat-card>
  <div style="width: 40%; display: flex; flex-direction: column; gap: 24px">
    <mat-card class="card" style="height: 75%; overflow-y: scroll">
      <div>
        <h1 class="patient-details-title">Diagnose</h1>
        <section *ngFor="let diagFind of diagnosticFindings">
          <app-diagnostic-finding [diagnosticFinding]="diagFind"/>
        </section>
      </div>
    </mat-card>
    <mat-card class="card" style="height: 25%">
      <div>
        <h1 class="patient-details-title">Aktueller Aufenthalt</h1>
        <app-icon-text [title]="'Startzeitpunkt:'" [text]="String(currentStay.startzeitpunkt)"/>
        <app-icon-text *ngIf="currentStay.endzeitpunkt" [title]="'Endzeitpunkt:'" [text]="String(currentStay.endzeitpunkt!)"/>
      </div>
    </mat-card>
  </div>
</div>
<div  class="patient-information">
  <mat-card class="card" style="width: 100%">
    <div style="display: flex; flex-direction: row; gap: 24px">
      <button class="button">Entlassung</button>
      <button class="button">Behandlung</button>
      <button class="button">Operation</button>
    </div>
  </mat-card>
</div>
