
$light-text: #ffffff;
$light-primary-text: $light-text;

$dark-text: #000000;
$dark-primary-text: rgba($dark-text, 0.87);

$mat-primary: (
  main: #4395bb,
  lighter: #c7dfeb,
  darker: #2c78a4,
  200: #4395bb,
  contrast : (
    main: $dark-primary-text,
    lighter: $dark-primary-text,
    darker: $light-primary-text,
  )
);

$Hospify-primary: mat.define-palette($mat-primary, main, lighter, darker);
$Hospify-accent: mat.define-palette($mat-primary, main, lighter, darker);

$Hospify-warn: mat.define-palette(mat.$red-palette);

$Hospify-theme: mat.define-light-theme((
  color: (
    primary: $Hospify-primary,
    accent: $Hospify-accent,
    warn: $Hospify-warn,
  ),
  typography: mat.define-typography-config(),
  density: 0
));

@include mat.all-component-themes($Hospify-theme);


@font-face {
  font-family: adlam;
  src: url(assets/fonts/ADLaM_Display/ADLaMDisplay-Regular.ttf) format("opentype");
}

html, body { height: 100%; background-color: #def8fd }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

