
.patient-details-title {
  color: #4395BB;
  font-family: adlam, sans-serif;
  margin: 0;
}

.button {
  color: #4395BB !important;
  font-family: adlam, sans-serif;
  width: 40%;
}

.button:hover{
  background-color: #def8fd;
}
